# BDSC COMPILER FILES
C.CCC
c.ccc


# Prerequisites


# Object files
*.CRL
*.crl

# Linker output


# Precompiled Headers


# Libraries
*.lbr
*.LBR

# Shared objects (inc. Windows DLLs)


# Executables
*.COM
*.com
*.hex
*.HEX

# Debug files

# debug information files
*.dwo

# logs
*.log
*.LOG
